@model TechSupportWeb.Models.Settings.SettingsModel

@{
    ViewBag.Title = "Настройки";
}

<h5 class="m-4">Настройки</h5>

@using (Html.BeginForm("Update", "Settings", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.TimeTm, new { @class = "control-label col-md-8" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TimeTm, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeTm, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TimeTd, new { @class = "control-label col-md-10" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.TimeTd, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TimeTd, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpanMin, new { @class = "control-label col-md-10" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.SpanMin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpanMin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SpanMax, new { @class = "control-label col-md-10" })
            <div class="col-md-2">
                @Html.EditorFor(model => model.SpanMax, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SpanMax, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
